- words = current_user.words
.row
  - if words.count == 0
    .alert.alert-info
      You have no cards in your deck! Select 'Deck' and add your first card.
  - if flash[:success]
    .alert.alert-sucess
      =flash[:success]
.row
  .span7.offset1
    %table.table
      %thead
        %tr
          %th
            Total cards:
          %td=words.count
        %tr
          %th
            Expired:
          %td=words.expired.count
        %tr
          %th
            Forgotten:
          %td=words.failed.count
