- words = current_user.words
.row
  .span12
    - if words.count == 0
      .alert.alert-info
        You have no cards in your deck! Select 'Deck' and add your first card.
    - elsif (words.review_next == nil)
      .alert.alert-info
        You have no cards requiring review! Select 'Deck' and add more cards, or take a well earned break.
    - else
      %a.btn.btn-primary{:href => url_for(:controller => :review, :action => :review)}
        Review
    
    - if flash[:success]
      .alert.alert-sucess
        =flash[:success]
.row
  %br
.row
  .span6
    %table.table
      %thead
        %tr
          %th
            Total cards:
          %td=words.count
        %tr
          %th
            New cards:
          %td=words.untested.count
        %tr
          %th
            Expired:
          %td=words.expired.count
        %tr
          %th
            Forgotten:
          %td=words.failed.count
  .span6
    .graph#deck-graph
