.row
  .span6.offset1
    %p
      Do you know this word?
    %h2=@word.kanji
    %a.btn.btn-success#yes
      Yes
    %a.btn#no
      No
    %form#yes_form{:action => url_for(:action => :review), :method => :post}
      != token_tag nil
      %input{:type => :hidden, :name => 'id', :value => @word.id}
      %input{:type => :hidden, :name => 'answer', :value => 'yes'}
    %form#no_form{:action => url_for(:action => :review), :method => :post}
      != token_tag nil
      %input{:type => :hidden, :name => 'id', :value => @word.id}
      %input{:type => :hidden, :name => 'answer', :value => 'no'}
      