.row
  .span6.offset1
    %p
      Do you know this word?
    %h2=@word.kanji
    %a.btn.btn-success#yes
      Yes
    %a.btn#no
      No
    %form#yes_form{:action => url_for(:action => :review, :id => @word.id, :answer => 'yes'), :method => :post}
      != token_tag nil
    %form#no_form{:action => url_for(:action => :review, :id => @word.id, :answer => 'no'), :method => :post}
      != token_tag nil
      