- if !current_user
  %header.jumbotron.subhead#overview
  .container
    %h1="Chuhi"
    %p.lead
      A tasty beverage for intermediate and advanced learners of Japanese.
    %p
      Chuhi is an application aimed at intermediate and advanced learners of Japanese. It combines spaced repetition with collaborative learning to help you improve your Japanese and encourage your friends to do the same. Sign in if you already have an account, or Sign up if not. Happy studying!
- else
  .row
    .span6
      -# Calendar
      .row
        .span6
          %h2="Study Calendar"
          .well
            %p="The study calendar will have days marked where you have reviewed at least one word."
            %br
            %br
            %br
      -# Stats
      .row
        .span6
          %h2="Status"
      .row
        .span2
          - words = current_user.words
          - unless words.review.empty?
            :coffeescript
              $(document).ready ->
                data = [[#{words.untested.count},label: "New"], [#{words.expired.count},label: "Expired"], [#{words.failed.count},label: "Forgotten"], [#{words.known.count},label: "Known"]]
                Chuhi.setup_graph(data)
          %table.table
            %thead
              %tr
                %th
                  Cards:
                %td=words.count
        .span4
          .graph#deck-graph-small
    -# Activity feed
    .span6
      .row
        .span6
          %h2="Activity Stream"
          .well
            %p="Activity of other users will be listed here."
            %br
            %br
            %br
            %br
            %br
            %br
            %br
            %br
            %br
            %br
            %br
            %br
            %br
            %br
