- if !current_user
  %header.jumbotron.subhead#overview
  .container
    %h1="Chuhi"
    %p.lead
      A tasty beverage for intermediate and advanced learners of Japanese.
    %p
      Chuhi is an application aimed at intermediate (Chu) and advanced (hi) learners of Japanese. It combines spaced repetition with collaborative learning features to help you improve your Japanese and encourage your peers to do the same. Sign in if you already have an account, or Sign up if not. Happy studying!
- else
  .row
    .span6
      -# Calendar
      .row
        .span6
          %h2="Study Calendar"
          .well
            %p="The study calendar will have days marked where you have reviewed at least one word."
            %br
            %br
            %br
      -# Stats
      .row
        .span6
          %h2="Status"
          .well
            %p="Graph showing words forgotten, expired and known."
            %br
            %br
            %br
    -# Activity feed
    .span6
      .row
        .span6
          %h2="Activity Stream"
          .well
            %p="Activity of other users will be listed here."
            %br
            %br
            %br
            %br
            %br
            %br
            %br
            %br
            %br
            %br
            %br
            %br
            %br
            %br
