.row
  .span2
  .well.span8
    %h2="About Chuhi"
    %p
      Chuhi is an application aimed at intermediate (Chu) and advanced (hi) learners of Japanese. The idea came about 
      after realising that there few free, open source web applications (or commercial, for that matter) designed with intermediate to advanced learners in mind. We also wanted a way to study online that was modern, collaborative 
      and fun.
    %h3="Who created Chuhi?"
    %p
      Chuhi was originally created by Robert Gravina (a programmer) and Mitch Grace (a Japanese language education coordinator). This site is not affiliated with their employers in any way.
    %h3="Who owns the content on this site?"
    %p
      All site content, including lessons and user contributions is licensed under a <a href="http://creativecommons.org/licenses/by-nc-sa/3.0/" target="_chihi">CC-BY-NC-SA with attribution</a> licence.
  .span2
