.row
  .span2
  .well.span8
    %h2="About Chuhi"
    %p
      Chuhi is an application aimed at intermediate (Chu) and advanced (hi) learners of Japanese. It combines spaced repetition with collaborative learning features to help you improve your Japanese and encourage your peers to do the same.
    %h3="Who created Chuhi?"
    %p
    Chuhi was originally created by Robert Gravina (<a href="http://twitter.com/robertgravina", target="_chuhi">@robertgravina</a>) but wouldn't have been possible without the contributions of many others. Please see the <a href="https://github.com/rgravina/chuhi" target="_chihi">Github README</a> for a full list!
    %h3="Who owns the content on this site?"
    %p
      All site content, including lessons and user contributions, is licensed under a <a href="http://creativecommons.org/licenses/by-nc-sa/3.0/" target="_chihi">CC-BY-NC-SA with attribution</a> licence. We ask that users show respect to each other but are not responsible for the content of user contributions in any way.
  .span2
