// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
footer {
  margin-top: 1em;
  text-align: center;
}

#answer {
  display: none;
}

#deck-graph {
  width: 370px;
  height: 200px;
}

#deck-graph-small {
  width: 200px;
  height: 100px;
}